@inject AppState state

<nav>
    <a href="/">
        <img src="puzzleLogo.svg" alt="logo">
    </a>
    <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/add-advert">Add advert</a></li>

        <li><a href="/adverts/1">Adverts</a></li>

        @if (state.CurrentUser == null)
        {
        <li><a class="highlight" href="/login">Login</a></li>
        }
        else
        {
            <li><a @onclick="Logout">Logout</a></li>
        }
    </ul>
</nav>


@code {





    void Logout()
    {
        state.logout();
    }
}