<nav>
    <img src="puzzleLogo.svg" alt="logo">
    <ul>
        <li><a href="/">Annoncer</a></li>
        <li><a href="">b</a></li>
        <li><a href="">c</a></li>
        <li><a href="">d</a></li>
        <li><a class="highlight" href="">Login</a></li>
    </ul>
</nav>