nav {
    background: linear-gradient(var(--mahogany), var(--pocket));
    padding: 10px;
    margin-inline: auto;
    max-width: calc(100% - 20px);
    width: 100%;
    margin-top: -2px;
    border: var(--brass) 2px solid;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        max-height: 40px;
    }

    & a:has(img) {
        width: 40px;
    }

    & ul {
        list-style: none;
        display: inline-flex;
        gap: 20px;

        & li {
            margin: 0;
            display: inline-flex;

            & a {
                padding: 5px 10px;
                border: transparent 1px solid;
                border-color: transparent;
                border-radius: 10px;

                &:hover {
                    background-color: var(--felt);
                    border-color: var(--brass);
                }
            }
        }
    }

    .menu-button {
        display: none;
    }

    .nav-links {
        display: flex;
        position: unset;
        background: none;
        border: none;
        left: unset;
    }

    @media screen and (max-width: 800px) {
        .menu-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .nav-links {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: fixed;
            translate: calc(100% + 2px) 0;
            transition: translate 0.5s;
            top: 10px;
            right: 0;
            background: linear-gradient(var(--mahogany), var(--pocket));
            border: var(--brass) 2px solid;
            border-radius: 10px 0 0 10px;
            padding: 10px;
            height: calc(100% - 20px);
            width: 200px;

            & ul {
                display: flex;
                justify-content: stretch;
                flex-direction: column;
            }

            & li {

                & > * {
                    flex: 1;
                }

                &:has(.highlight) {
                    order: -1;
                }
            }

            &::backdrop {
                background-color: rgba(0, 0, 0, 0);
                transition: background-color 0.5s;
            }

            &:popover-open {
                translate: 2px 0;

                &::backdrop {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}
