@inject AppState state
@inject NavigationManager nav

<nav>
    <a href="/">
        <img src="puzzleLogo.svg" alt="logo">
    </a>
    <button class="menu-button" type="button" onclick="document.getElementById('nav-menu').showPopover()">Menu</button>
    <div class="nav-links" id="nav-menu" popover="auto">
        <ul>
            <li><a href="/" onclick="document.getElementById('nav-menu').hidePopover()">Home</a></li>

            <li><a href="/adverts/1" onclick="document.getElementById('nav-menu').hidePopover()">Adverts</a></li>

            @if (state.CurrentUser == null)
            {
            <li><a class="highlight" href="/login" onclick="document.getElementById('nav-menu').hidePopover()">Login</a></li>
            }
            else
            {
                <li><a href="/add-advert" onclick="document.getElementById('nav-menu').hidePopover()">Add advert</a></li>
                <li><a href="/user/@state.CurrentUser.Username/1" onclick="document.getElementById('nav-menu').hidePopover()">@state.CurrentUser.Username</a></li>
                <li><a @onclick="Logout">Logout</a></li>
            }
        </ul>
    
    </div>
</nav>


@code {



    /// <summary>
    /// Called by the Blazor framework when the component is initialized.
    /// Subscribes to state changes to update the navigation menu.
    /// </summary>
    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }


    /// <summary>
    /// Unsubscribes from state changes when the component is disposed.
    /// </summary>
    public void Dispose()
    {
        state.OnChange -= StateHasChanged;
    }



    /// <summary>
    /// Logs out the current user and navigates to the home page.
    /// </summary>
    void Logout()
    {
        state.logout();
        nav.NavigateTo("/");
    }
}