@inject AppState state

<nav>
    <a href="/">
        <img src="puzzleLogo.svg" alt="logo">
    </a>
    <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/adverts/1">Adverts</a></li>

        @if (state.CurrentUser == null)
        {
        <li><a class="highlight" href="/login">Login</a></li>
        }
        else
        {
            <li><a href="/add-advert">Add advert</a></li>
            <li><a href="/user/@state.CurrentUser.Username">@state.CurrentUser.Username</a></li>
            <li><a @onclick="Logout">Logout</a></li>
        }
    </ul>
</nav>


@code {


     protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        state.OnChange -= StateHasChanged;
    }


    void Logout()
    {
        state.logout();
    }
}