form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin: 0 auto;
    padding: 10px;
    gap: 15px;

    & .form-group {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & .form-group-contents {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            & > * {
                flex: 1;
            }
        }
    }

    & label:has(:not(input[type="file"])) {
        display: flex;
        flex-direction: column;
    }
}
