@page "/adverts/{pageIndex:int}"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject AdvertService ad


<PageTitle>Adverts</PageTitle>

<section>
    <div>
        <h1>Adverts</h1>
    </div>
</section>

<section>
    
    <SearchField />

    <div>
        <AdvertContainer Adverts="adverts" />
    </div>
</section>

<section>
    <PaginationBar pageIndex="pageIndex"
        NextPageUrl="@($"/adverts/{pageIndex + 1}")"
        PreviousPageUrl="@($"/adverts/{pageIndex - 1}")"
        isNextPageAvailable="isNextPage" />
</section>

@code {
    [Parameter]
    public int pageIndex { get; set; }

    const int adsPerPage = 40;
    int pageOffset;
    int advertCount;
    string searchText;

    bool isNextPage = true;


    List<Advert> adverts;


    private async Task OnSearch(string searchParam)
    {
        searchText = searchParam;
        advertCount = await ad.GetAdvertCountAsync(searchTerm: searchText);

        await LoadAdverts();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadAdverts();
    }

    private async Task LoadAdverts()
    {
        pageOffset = adsPerPage * (pageIndex - 1);

        adverts = await ad.GetAllAdvertsAsync(limit: adsPerPage, offset: pageOffset, searchTerm: searchText);

        if ((pageOffset + adsPerPage) > advertCount)
        {
            isNextPage = false;
        }
        else
        {
            isNextPage = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        advertCount = await ad.GetAdvertCountAsync();
    }
}