@page "/advert/{id:int}"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject AdvertService ad

<PageTitle>Advert details</PageTitle>

<section>
    @if (advert != null)
    {
    <SingleAdvert advert="advert"/>
    }
</section>

@code {
    [Parameter]
    public int id { get; set; }

    Advert advert;


    /// <summary>
    /// Called by the Blazor framework when the component is initialized.
    /// Loads the advert details for the given ID.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        // Fetch the advert details from the service
        advert = await ad.GetAdvertByIdAsync(id);
    }
}









