@page "/advert/{id:int}"
@rendermode InteractiveServer
@using Blazor.Components.Shared

<PageTitle>Home</PageTitle>




<section>
    <div>
        
        
    </div>
</section>


@code {
    [Parameter]
    public int id { get; set; }

    Advert advert;
}









