@page "/edit-advert/{id:int}"
@rendermode InteractiveServer
@inject AdvertService ad
@inject AppState state
@inject NavigationManager nav
@using Blazor.Components.Shared


<PageTitle>Edit advertisement</PageTitle>

<section>
    <div>
        <h1>Edit advertisement</h1>
    </div>
</section>

<section>
    <div>
        <EditForm Model="@advert" OnValidSubmit="@UpdateAdvert" FormName="AdvertForm">

            <FileInput OnChange="@OnFileChange" OnClear="ClearFile" Label="Image" />

            @if (advert.Picture != null)
            {
                <div>
                    <AdvertImage Picture="advert.Picture"></AdvertImage>
                </div>
            }

            <label>
                Puzzle Title
                <InputText @bind-Value="advert.Title" required />
            </label>
            <label>
                Describtion
                <InputTextArea @bind-Value="advert.Description" required/>
            </label>
            <label>
                Piece amount
                <InputNumber @bind-Value="advert.PieceAmount" step="1" required />
            </label>
            <label>
                Price
                <InputNumber @bind-Value="advert.Price" step="0.01" required />
            </label>
            <div class="form-group">
                <h3>Box dimensions</h3>

                <div class="form-group-contents">
                    <label>
                        Width:
                        <InputNumber @bind-Value="advert.BoxDimensions.Width" step="0.1" />
                    </label
                    <label>
                        Height
                        <InputNumber @bind-Value="advert.BoxDimensions.Height" step="0.1" />
                    </label>
                    <label>
                        Depth:
                        <InputNumber @bind-Value="advert.BoxDimensions.Depth" step="0.1" />
                    </label>
                </div>
            </div>

            <div class="form-group">
                <h3>Puzzle dimensions</h3>

                <div class="form-group-contents">
                    <label>
                        Width:
                        <InputNumber @bind-Value="advert.PuzzleDimensions.Width" step="0.1" />
                    </label>
                    <label>
                        Height:
                        <InputNumber @bind-Value="advert.PuzzleDimensions.Height" step="0.1" />
                    </label>
                </div>
            </div>

            <button type="submit">Change advert</button>
        </EditForm>
        
        @if (message != null)
        {
            <p>@message</p>
        }
    </div>
</section>



@code {
    [Parameter]
    public int id { get; set; }

    Advert advert = new();
    string message;
    string soldButtonText = "Mark as sold";



    

    private async Task OnFileChange(InputFileChangeEventArgs e)
    {
        IBrowserFile file = e.File;
        if (file != null)
        {
            using MemoryStream ms = new MemoryStream();
            await file.OpenReadStream(1024 * 1024 * 5).CopyToAsync(ms);

            advert.Picture = ms.ToArray();
        }
    }

    private void ClearFile()
    {
        advert.Picture = null;
    }

    protected override async Task OnInitializedAsync()
    {
        if (state.CurrentUser == null)
        {
            nav.NavigateTo($"/advert/{id}");
            return;
        }

        advert = await ad.GetAdvertByIdAsync(id);

        if (state.CurrentUser.UserId != advert.User.UserId)
        {
            nav.NavigateTo($"/advert/{id}");
        }
    }

    private async Task UpdateAdvert()
    {
        await ad.UpdateAdvertAsync(advert);
        nav.NavigateTo($"advert/{id}");
    }
}
