@page "/"
@* @rendermode InteractiveServer *@
@using Blazor.Components.Shared

<PageTitle>Home</PageTitle>


<section>
    <div>
    <h1>title</h1>
    <p>yes</p>
    </div>
</section>

<section>
    <div>
        <h1>title</h1>
        <AdvertContainer Adverts="tempArray">
        </AdvertContainer>
    </div>
</section>





@code {
    public Advert advert = new()
    {
        Title = "test",
        Description = "dfhajdhfkahdlfhbalfhbvilsdhff",
        PieceAmount = 100000
    };

    Advert[] tempArray = { };





}