@page "/"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject AdvertService ad


<PageTitle>Home</PageTitle>


<section>
    <div
    <h1>title</h1>
    <p>yes</p>
    </div>
</section>

<section>
     <AdvertContainer Adverts="adverts"/>  
</section>





@code {
    public Advert advert = new()
    {
        Title = "test",
        Description = "dfhajdhfkahdlfhbalfhbvilsdhff",
        PieceAmount = 1000
    };

    List<Advert> adverts;


    protected override async Task OnInitializedAsync()
    {
        adverts = await ad.GetAllAdvertsAsync(limit: 4);
    }
}