@page "/"
@* @rendermode InteractiveServer *@
@using Blazor.Components.Shared

<PageTitle>Home</PageTitle>


<section>
    <div>
    <h1>title</h1>
    <p>yes</p>
    </div>
</section>

<section>
    <div>
        <h1>title</h1>
        <AdvertContainer>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
            <div class="ad">ad</div>
        </AdvertContainer>
    </div>
</section>










