@page "/login"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject UserService us
@inject AppState state
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>


<section>
    <div>

    <h1>Login</h1>
    <EditForm Model="@loginUser" OnValidSubmit="@Submit" FormName="LoginForm">
        <label>
            Username
                <InputText @bind-Value="loginUser.Username" required />
        </label>
        
        <label>
            Password
            <InputText @bind-Value="loginUser.Password" type="password" required />
        </label>
        @if (message != null)
        {
            <p>@message</p>
        }
        <br />
        <button type="submit">Login</button>
    </EditForm>

    <p>
        if you have no account click 
        <a href="/sign-up" class="brass">Here</a>
    </p>
    </div>
</section>


@code {
    User loginUser = new();
    string message;


    /// <summary>
    /// Handles the login form submission.
    /// Attempts to log in the user and updates the application state or displays an error message.
    /// </summary>
    private async Task Submit()
    {
        // Attempt to log in with the provided username and password
        User loggedInUser = await us.LoginUserAsync(loginUser.Username, loginUser.Password);
        if (loggedInUser != null)
        {
            // If login is successful, update the app state and navigate to the home page
            state.login(loggedInUser);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Show an error message if login fails
            message = "Username or password does not match";
        }
    }
}