@page "/sign-up"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject UserService userService
@inject NavigationManager NavigationManager

<PageTitle>Sign up</PageTitle>


<section>
    <div>

    <h1>Sign up</h1>
    <EditForm Model="@loginUser" OnValidSubmit="@Submit" FormName="SignUpForm">
        <label>
            Username
            <InputText @bind-Value="loginUser.Username" required />
        </label>
        
        <label>
            Password
            <InputText @bind-Value="loginUser.Password" type="password" required />
        </label>
        <label>
            Confirm password
            <InputText @bind-Value="passwordCopy" type="password" required />
        </label>
        <label>
            Email
            <InputText @bind-Value="loginUser.Email" type="email" required />
        </label>
        <label>
            Phone number
            <InputText @bind-Value="loginUser.PhoneNumber" type="tel" />
        </label>
        <br />
        <button type="submit">Sign up</button>
    </EditForm>

        @if (message != null)
        {
        <p>@message</p>    
        }
    </div>
</section>


@code {
    User loginUser = new();
    string passwordCopy = "";
    string message = "";


    private async Task Submit()
    {
        if (loginUser.Password == passwordCopy)
        {
            await userService.CreateUserAsync(loginUser);
            //message = "your account has been submitted";
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            message = "The passwords does not match";
        }
    }
}