@page "/"
@* @rendermode InteractiveServer *@
@using Blazor.Components.Shared

<PageTitle>Home</PageTitle>


<section>
    <h1>title</h1>
    <p>yes</p>
</section>

<section>
    <h1>title</h1>
    <AdvertContainer>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
        <div class="ad">ad</div>
    </AdvertContainer>
</section>









<footer></footer>

