@page "/user/{username}/{pageIndex:int}"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject AdvertService ad

<PageTitle>User details</PageTitle>

<UserEditForm username="@username"/>

<section>
    <div>
        <h1>Your advertisements</h1>
    </div>
</section>

<section id="adverts">
    <AdvertContainer Adverts="adverts" />
</section>

<section>
    <PaginationBar pageIndex="pageIndex"
        NextPageUrl="@($"/user/{username}/{pageIndex + 1}#adverts")"
                   PreviousPageUrl="@($"/user/{username}/{pageIndex - 1}#adverts")"
        isNextPageAvailable="isNextPage" />
</section>

@code {
    [Parameter]
    public string username { get; set; }

    [Parameter]
    public int pageIndex { get; set; }

    const int adsPerPage = 8;
    int pageOffset;
    int advertCount;

    bool isNextPage = true;

    List<Advert> adverts;

    protected override async Task OnParametersSetAsync()
    {
        pageOffset = adsPerPage * (pageIndex - 1);

        if ((pageOffset + adsPerPage) >= advertCount)
        {
            isNextPage = false;
        }
        else
        {
            isNextPage = true;
        }

        adverts = await ad.GetAdvertsByUserAsync(username: username, limit: adsPerPage, offset: pageOffset);
    }

    protected override async Task OnInitializedAsync()
    {
        advertCount = await ad.GetAdvertCountAsync(username: username, isSold: null);
    }
}









