@page "/user/{username}"
@rendermode InteractiveServer
@using Blazor.Components.Shared
@inject AdvertService ad

<PageTitle>User details</PageTitle>

<section>
    <AdvertContainer Adverts="adverts" />
</section>

@code {
    [Parameter]
    public string username { get; set; }

    List<Advert> adverts;

    protected override async Task OnInitializedAsync()
    {
        adverts = await ad.GetAdvertsByUserAsync(username);
    }
}









