:root {
    --felt: #0E4D2D; /* Billiard Green */
    --light-felt: #186840;
    --dark-felt: #0b3a22;
    --mahogany: #4A2511; /* Dark reddish wood */
    --brass: #D4AF37; /* Polished Brass */
    --amber: #f2d4a1;
    --cue: #F5F5DC; /* Cue ball off-white */
    --pocket: #2B1B17; /* Leather pocket */
    --radius: 14px;
    --max-width: 1100px;
    --shadow: rgba(0,0,0,0.18);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: var(--pocket); */
    background-image: url(dark-brown-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--cue);
    font-family: "Limelight", sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
}


a {
    color: var(--cue);
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        text-decoration: underline;
    }
}

.brass {
    color: var(--brass);
}

.highlight {
    padding: 5px 10px;
    background-color: var(--brass);
    border-radius: 10px;

    &:hover {
        color: var(--cue);
    }
}

section {
    background: linear-gradient(var(--felt), var(--dark-felt));
    border: 2px solid var(--brass);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    & > div {
       padding: 10px;
       border: 2px solid var(--light-felt);
       border-radius: 10px;
       display: flex;
       flex-direction: column;
       gap: 10px;
    }

    &.strech {
        flex: 1;

        & > div {
            flex: 1;
/*            justify-content: center;*/
        }
    }
}

article {
    border: 2px solid var(--light-felt);
    border-radius: 10px;
    padding: 10px;
}

.advert-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, auto));
    gap: 10px;
}

.ad {
    border: 2px solid var(--light-felt);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        border-color: var(--brass)
    }

    & p {
        display: flex;
        justify-content: space-evenly;
    }

    & img {
        max-width: 150px;
        max-height: 100px;
        object-fit: contain;
        height:100px;
    }
}

input, input[type="text"], input[type="password"], input[type="number"], textarea {
    border: 2px solid var(--light-felt);
    border-radius: 10px;
    background-color: var(--felt);
    color: var(--cue);
    padding: 7px 10px;
    outline: transparent;

    &:is(textarea) {
        resize: vertical;
    }
    &::placeholder {
        
    }
}

.single-advert {
    gap: 20px;

    & img {
        width: 100%;
        object-fit: contain;
    }

    & .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;
    }
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.box {
    border: 2px solid var(--light-felt);
    border-radius: 10px;
    padding: 5px 10px;
    
}


a.gold {
    &:hover {
        color: var(--brass);
        text-decoration: underline;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    align-items: center;

    & a {
        color: var(--brass);
        padding: 5px 10px;
        border-radius: 10px;
        border: solid 1px transparent;
        transition: 0.5s;

        &:hover {
            border-color: var(--brass);
        }
    }
}




label:has(input[type="file"]) {
    padding: 5px 10px;
    background-color: var(--brass);
    border-radius: 10px;

    &:hover {
        text-decoration: underline;
    }
}

input[type="file"] {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin: 0 auto;
    padding: 10px;
    gap: 15px;

    & .form-group {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & .form-group-contents {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            & > * {
                flex: 1;
            }
        }
    }

    & label:has(:not(input[type="file"])) {
        display: flex;
        flex-direction: column;
    }
}

button {
    padding: 10px 15px;
    background-color: var(--brass);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    color: var(--cue);
    font-family: Limelight, sans-serif;

    &:hover {
        text-decoration: underline;
    }
}


h1:focus {
    outline: none;
}



















.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}