:root {
  --felt: #0E4D2D;          /* Billiard Green */
  --light-felt: #186840;
  --dark-felt: #0b3a22;
  --mahogany: #4A2511;      /* Dark reddish wood */
  --brass: #D4AF37;         /* Polished Brass */
  --amber: #f2d4a1;
  --cue: #F5F5DC;           /* Cue ball off-white */
  --pocket: #2B1B17;        /* Leather pocket */
  --radius: 14px;
  --max-width: 1100px;
  --shadow:rgba(0,0,0,0.18);
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}



body {
  /* background-color: var(--pocket); */
  background-image: url(dark-brown-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--cue);
  font-family: "Limelight", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


nav {
  background: linear-gradient(var(--mahogany), var(--pocket));
  padding: 10px;
  border: var(--brass) 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    max-height: 40px;
  }
  & ul {
    list-style: none;
    display: inline-flex;
    gap: 20px;
    
    & li {
      margin: 0;
      & a {
        /* background-color: var(--pocket); */
        padding: 5px 10px;
        /* border-radius: 10px; */
        transition: 0.5s;
        /* border: solid 1px var(--brass); */
        border: transparent 1px solid;
        border-color: transparent;
        border-radius: 10px;

        &:hover {
          /* background-color: var(--felt); */
          /* color: var(--brass); */
          text-decoration: underline;
          background-color: var(--felt);
          border-color: var(--brass);
        }
      }
    }
    
    
  }
}

a {
  color: var(--cue);
  text-decoration: none;
}

.highlight {
  padding: 5px 10px;
  background-color: var(--brass);
  
  border-radius: 10px;
  &:hover {
    color: var(--cue);
  }
}

main {
  background: linear-gradient(var(--felt), var(--dark-felt));
  border: 2px solid var(--brass);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

main section {
  border: 2px solid var(--light-felt);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main article {
  border: 2px solid var(--light-felt);
  border-radius: 10px;
  padding: 10px;
}

.ad-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  gap: 10px;
}

.ad {
border: 2px solid var(--light-felt);
  border-radius: 10px;
  padding: 10px;
}

input[type="text"], input[type="number"], textarea {
  border: 2px solid var(--light-felt);
  border-radius: 10px;
  background-color: var(--felt);
  color: var(--cue);
  padding: 7px 10px;
  outline: transparent;

  &:is(textarea) {
    resize: vertical;

  }
}



label:has(input[type="file"]) {
  padding: 5px 10px;
  background-color: var(--brass);
  border-radius: 10px;
  &:hover {
    text-decoration: underline;
  }
}
input[type="file"] {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin: 0 auto;
  padding: 10px;
  gap: 15px;

  & .form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & .form-group-contents {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      &>* {
        flex: 1;
      }
    }
    
  }

  & label:has(:not(input[type="file"])) {
    display: flex;
    flex-direction: column;
  }
}

button {
  padding: 10px 15px;
  background-color: var(--brass);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  color: var(--cue);
  font-family: Limelight, sans-serif;

  &:hover {
    text-decoration: underline;
  }
}