.ad {
    border: 2px solid var(--light-felt);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        border-color: var(--brass)
    }

    & p {
        display: flex;
        justify-content: space-evenly;
    }

    & img {
        max-width: 150px;
        max-height: 100px;
        object-fit: contain;
        height: 100px;
    }

    & span {
        padding: 5px 10px;

        &.warning {
            background-color: var(--red);
            border-radius: 10px;
        }
    }
}
