@inject NavigationManager NavigationManager

<div class="ad" @onclick="() => OpenAdvert(advert.AdvertId)">
    <p>@advert.Title</p>
    <div class="image-container">
        <AdvertImage Picture="advert.Picture" />
    </div>
    <p>
        <span>@advert.PieceAmount P</span>

        @if (advert.IsSold)
        {
            <span class="warning">Sold</span>
        }
        else
        {
            <span>@(advert.Price)Kr.</span>
        }
    </p>
</div>

@code {
    [Parameter]
    public Advert advert { get; set; }

    void OpenAdvert(int id)
    {
        NavigationManager.NavigateTo($"/advert/{id}");
    }
}