@using System.Globalization
@inject NavigationManager NavigationManager

<div class="advert-boxes">
    @if (Adverts != null)
    {
        @foreach (Advert advert in Adverts)
        {
            <div class="ad" @onclick="() => OpenAdvert(advert.AdvertId)">
                <img src="favicon.png" alt="Can " />
                <p>
                <span>@advert.Title</span>
                <span>@advert.PieceAmount P</span>
                </p>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public List<Advert> Adverts { get; set; }

    void OpenAdvert(int id)
    {
        NavigationManager.NavigateTo($"/advert/{id}");
    }
}