<div class="pagination">

    @if (pageIndex != 1)
    {
        <a href="@PreviousPageUrl">&#11164</a>
    }
    else
    {
        <span>&#11164</span>
    }

    @pageIndex

    @if (isNextPageAvailable)
    {
    <a href="@NextPageUrl">&#11166</a>
    }
    else {
        <span>&#11166</span>
    }
</div>

@code {
    /// <summary>
    /// The current page index (1-based).
    /// </summary>
    [Parameter]
    public required int pageIndex { get; set; }

    /// <summary>
    /// The URL to navigate to the next page.
    /// </summary>
    [Parameter]
    public required string NextPageUrl { get; set; }

    /// <summary>
    /// The URL to navigate to the previous page.
    /// </summary>
    [Parameter]
    public required string PreviousPageUrl { get; set; }

    /// <summary>
    /// Indicates whether a next page is available for navigation.
    /// </summary>
    [Parameter]
    public bool isNextPageAvailable { get; set; } = false;


}