.single-advert {
    gap: 20px;

    & img {
        width: 100%;
        object-fit: contain;
        border-radius: 15px;
    }

    & .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;

        & p, & h3 {
        padding: 5px 10px;
        }
    }

    & .split {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
